.about {
  padding-bottom: 50px;
}

.about__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about__title {
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 20px;
  font-size: 18px;
  opacity: 0.7;
}

