.about {
  padding-bottom: 50px;
  background: #2f2e2e;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.about__title {
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 20px;
  font-size: 18px;
  opacity: 0.7;
}

.about__img {
  max-width: 625px;
}

@media (max-width: 1000px) {
  .about__container {
    gap: 10px;
    padding-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .about__container {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
}

@media (max-width: 512px) {
  .about__img {
    max-width: 450px;
  }
}

@media (max-width: 400px) {
  .about__img {
    max-width: 350px;
  }
}
