.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 50px;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer__text {
  font-size: 21px;
}

.footer__list-btn {
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: #70b3ea;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .footer__list-btn:hover {
    background-color: #696969;
  }
}

@media (max-width: 512px) {
  .footer__list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
