.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 50px;
}

.footer__list {
  display: flex;
  gap: 25px;
}

.footer__list-btn {
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: #494949;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .footer__list-btn:hover {
    background-color: #696969;
  }
}
