.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 50px;
}

.footer__list {
  display: flex;
  gap: 25px;
}

.footer__list-link {
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: #3a68b8;
  color: white;
}
