.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 50px;
}

.header__list {
  display: flex;
  gap: 25px;
}

.header__list-link {
  font-size: 18px;
  cursor: pointer;
}
