.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 50px;
}

.logo {
  font-family: "Oswald";
  font-size: 27px;
}

.header__list {
  display: flex;
  gap: 25px;
}

.header__list-link {
  font-size: 18px;
  cursor: pointer;
}

@media (any-hover: hover) {
  .header__list-link:hover {
    color: #636363;
  }
  .logo:hover {
    color: #636363;
  }
}
