.main {
  padding-bottom: 50px;
}

.main__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main__title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
}

.main__text {
  margin-bottom: 20px;
}
