.reviews {
  padding-bottom: 50px;
}

.reviews__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.reviews-content {
  max-width: 550px;
}

.reviews__title {
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
}

.reviews__text {
  margin-bottom: 40px;
  font-size: 18px;
  opacity: 0.7;
}

.reviews__text span {
  font-style: italic;
}

.reviews__btn {
  font-size: 20px;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: #70b3ea;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .reviews__btn:hover {
    background-color: #696969;
  }
}

.reviews__img {
  max-width: 550px;
  width: 100%;
}

@media (max-width: 1000px) {
  .reviews__container {
    gap: 10px;
    padding-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .reviews {
    padding-bottom: 0;
  }
  .reviews__container {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
  .reviews-content {
    padding-top: 50px;
  }
}


@media (max-width: 420px) {
  .reviews__title {
    font-size: 44px;
  }
  .reviews__text {
    font-size: 15px;
  }
  .reviews__btn {
    font-size: 16px;
  }
}

@media (max-width: 360px){
  .reviews__container{
    gap: 20px;
  }
} 
