.reviews {
  padding-bottom: 50px;
}

.reviews__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.reviews__title {
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
}

.reviews__text {
  margin-bottom: 40px;
  font-size: 18px;
  opacity: 0.7;
}

.reviews__btn {
  font-size: 20px;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: #3a68b8;
  color: white;
}
