.service {
  padding-top: 50px;
  padding-bottom: 70px;
  background: #2f2e2e;
}

.service__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service__title {
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.service__text {
  margin-bottom: 40px;
  font-size: 18px;
  opacity: 0.7;
  font-style: italic;
  text-align: center;
  max-width: 900px;
}

.service__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.service__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 30px;
}

.service__item-img {
  max-width: 300px;
  width: 100%;
}

.service__item-title {
  font-size: 25px;
}

.service__item-text {
  font-size: 16px;
}

.service__item-price {
  font-weight: 700;
}

.service__btn {
  font-size: 20px;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: #70b3ea;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .service__btn:hover {
    background-color: #696969;
  }
}

@media (max-width: 420px) {
  .service__title {
    font-size: 44px;
  }
  .service__text {
    font-size: 15px;
  }
  .service__btn {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .service{
    padding-bottom: 50px;
  }
  .service__list-item {
    padding: 20px;
  }
}
