.service {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #2f2e2e;
}

.service__title {
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}

.service__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.service__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 30px 30px;
}

.service__item-img{
  max-width: 300px;
}

.service__item-title {
  font-size: 25px;
}

.service__item-text {
  font-size: 16px;
}

.service__item-price {
  font-weight: 700;
}
