* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1f2235;
  color: white;
  font-family: "Montserrat";
  overflow-x: hidden;
}

.favicon {
  object-fit: cover;
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
